<div id="body">
<div id="body_left">
<div><%= image_tag "0_974c7e.jpg" %></div>
<div id="left_body">
<P style="float:left; margin-right:5px;"><%= image_tag "0_9dde53.jpg" %></P>
    &nbsp;&nbsp;&nbsp;&nbsp;<%= content("公司简介") %>　</div>
</div>
<div id="body_left2">
<div><%= image_tag "0_452940.jpg" %></div>
<div id="pr">
<div id="left"></div>
<div id="con" class="area">
  <ul class="list">
    <% @products.each do |pro| %>
    <li class="item"><a href="product/<%=pro.id %>"> <img class="pic" src="<%=pro.pic.sub(/original|thumb/, "mini") %>" /></a>
     <p><a href="products/<%=pro.id %>"><%=pro.name %></a></p>  
    </li>
    <% end %>
  </ul>
</div>
<div id="right"></div>
</div>
<script>controlMove("con", "left", "right", "30");</script>
</div>

<div id="ct">
<div><%= image_tag "0_a64279.jpg" %></div>
<div id="ct_body">
  <p><strong>联系人：</strong><%= content("联系人") %></p>
  <p><strong>手机：</strong><%= content("手机") %></p>
  <p><strong>QQ：</strong><%= content("QQ") %></p>
  <p><strong>电话：</strong><%= content("电话") %></p>
  <p><strong>传真：</strong><%= content("传真") %></p>
</div>
</div>
<div class="del_float"></div>
</div>