<%= render "prolist" %>

<div id="about_main">
    <div id="about_main_top">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="3%">&nbsp;</td>
        <td width="56%" class="aaas">产品展示</td>
        <td width="41%" align="right"></td>
      </tr>
  </table>
</div>
<div id="main_body">
    <% @products.each do |p| %>
    <dl>
       <dt><a href="product/<%=p.id %>">
          <img src="<%=p.pic.sub(/original|mini/, "thumb") %>" width="200" height="150" border="0"/></a></dt>
       <dd><a href="/product/<%= p.id %>"><%=p.name %></a></dd>
   </dl>
   <% end %>

   <div class="del_float"></div>
   <div class="font_link">
</div>
</div>
</div>
